.cat-clickable
{
    background-color: #7ea5e1;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px 0px;
    padding: 5px;
    transition: background-color 1s;
}

.cat-image
{
    aspect-ratio: auto;
    border-radius: 10px;
    max-width: 100%;
}

.content-col
{
    max-width: 100vw;
}

.content-col-img
{
    max-width: 350px;
    text-align: center;
}

.content-row
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.page-container
{
    border-radius: 25px;
    padding: 25px;
}

.home-project-container
{
    min-height: 5vh;
    padding: 25px;
}

.home-project-container-content
{
    background-color: white;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
}

  
