/* CLASSES (.) */

.mb-body
{
    max-width: 100vw;
}

.mb-body-header
{
    font-size: 5vh;
    font-weight: bolder;
    max-height: 7vh;
    margin: 2vh 0 2vh 0;
    width: 50vh;
}

.mb-body-header-even 
{
    border-bottom: 4px solid rgb(64, 73, 123);
    color: rgb(64, 73, 123);
    margin-left: 5vw;
    text-align: start;
}

.mb-body-header-odd
{
    border-bottom: 4px solid rgb(231, 240, 244);
    color: rgb(231, 240, 244);
    margin-right: 5vw;
    text-align: end;
}

.mb-body-section
{
    /* height: 50vh; */
    padding: 10px;
    width: 100vw;
}

.mb-body-section-even
{
    background-color: rgb(231, 240, 244);
}

.mb-body-section-odd
{
    background-color: rgb(64, 73, 123);
}

.mb-body-text-odd
{
    color: rgb(219, 241, 250);
}

.mb-body-text-even
{
    color: black
}

.mb-navbar
{
    background-color: rgb(29, 33, 57);

    max-width: 100vw;
    max-height: 75px;

    height: 75px;
    width: 100vw;
}

.mb-navbar-button
{
    background-color: rgb(158, 187, 226);
    border-color: black;
    border-width: 0px;
    
}

.mb-navbar-button:hover
{
    background-color: rgb(175, 133, 181);
    border-color: black;
    border-width: 0px;
    
}

.mb-square-image
{
    aspect-ratio: 1;
    margin: 25px;
    width: 25vw;
}

/* IDs (#) */