/* CLASSES (.) */

/* Top-of-page Navigation Bar */
.mb-navbar
{
    background-color: rgb(29, 33, 57);
    height: 75px;
    margin-bottom: 25px;
    max-width: 100vw;
    max-height: 75px;
    width: 100vw;
}

.mb-navbar-button
{
    background-color: rgb(158, 187, 226);
    border-color: black;
    border-width: 0px;
    
}

.mb-navbar-button:hover
{
    background-color: rgb(175, 133, 181);
    border-color: black;
    border-width: 0px;
    
}

/* High-Level Content Containers */

.mb-body 
{
    background-color: rgb(231, 240, 244);
    max-width: 100vw;
}

.mb-body-container
{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15vw;
    max-width: 100%;
}

@media screen and (max-width: 768px)
{
    .mb-body-container
    {
        padding: 0px 10vw;
    }
}

/* Home Page Card Visuals */

.mb-card-visual
{
    background-color: white;
    border-radius: 25px;
    padding: 25px 45px;
    margin: 25px 25px;
}

.mb-card-container-100
{
    max-width: calc(70vw * 1);
}

.mb-card-container-75
{
    max-width: calc(70vw * 0.75);
}

.mb-card-container-70
{
    max-width: calc(70vw * 0.7);
}

.mb-card-container-50
{
    max-width: calc(70vw * 0.5);
}
.mb-card-container-30
{
    max-width: calc(70vw * 0.3);
}

.mb-card-container-25
{
    max-width: calc(70vw * 0.25);
}

@media screen and (max-width: 768px)
{

    .mb-card-container-100, .mb-card-container-75, .mb-card-container-70, .mb-card-container-50, .mb-card-container-30, .mb-card-container-25
    {
        max-width: calc(80vw * 1);;
    }
}

.mb-body-section-even
{
    background-color: rgb(231, 240, 244);
}

.mb-body-section-odd
{
    background-color: rgb(64, 73, 123);
}

.mb-body-section-title
{
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    max-width: 100%;
}

.mb-body-text-even
{
    color: black
}

.mb-body-text-odd
{
    color: rgb(219, 241, 250);
}

.mb-content-container
{
    padding: 0px 1.5vw 0px 1.5vw;
}

.mb-row-to-col-container
{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    /* flex-wrap: wrap; */
    /* margin: 10px 5vw 10px 5vw; */
}


@media screen and (max-width: 768px) 
{
    .mb-body-section-title
    {
        margin: 0px auto;
        text-align: center;
    }

    .mb-row-to-col-container
    {
        align-items: center;
        flex-direction: column;
    }
}

/* About Me Section */

.mb-am-text
{
    font-size: 20px;
    max-width: 50vw;
    overflow-wrap: break-word;
    width: calc(100% - 7vw)
}

.mb-am-text-container
{
    margin: 15px;
    max-width: 100%;
}

.mb-am-portrait
{
    aspect-ratio: 1;
    border-radius: 15px;
    margin: 15px;
    max-width: 250px;
    object-fit: cover;
    object-position: center center;
    width: 200px;
}

@media screen and (max-width: 768px)
{

    .mb-am-name 
    {
        text-align: center;
    }

    .mb-am-text
    {
        margin: 0px auto;
        max-width: 75vw;
        text-align: center;
    }

    .mb-am-text-container
    {
        margin: 15px;
    }

    .mb-am-portrait
    {
        margin: 0px 1.5vw;
        margin-top: 25px;
    }
}

/* Contact Me / Social Medias */

.mb-media-container
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 100%;
}

.media-icon
{
    min-width: 21px;
    width: 25px;
}

.linkedin-interactive
{
    align-items: center;
    cursor: pointer !important;
    display:inline-flex;
    justify-content: center;
    pointer-events: none;
}

.media-link
{
    align-items: center;
    aspect-ratio: 1;
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    width: 50px;
}

.media-link:hover, .media-link:focus
{
    background-color: rgba(0, 0, 0, 0.05);
    border-color: black;
    outline: none;
}

@media screen and (max-width: 768px) 
{
    .mb-media-container
    {
        justify-content: center;
    }
}

/* Careers & Interests */

.mb-ci-date 
{
    color: rgb(29, 33, 57);
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0px
}

.mb-ci-list 
{
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 5px;
}

.mb-ci-list-item 
{
    margin-bottom: 15px;
    max-width: 50vw;
}

.mb-ci-list-item-desc 
{

    font-size: 16px;
    font-weight: bold;
    margin: 5px 0px;
}

.mb-ci-list-container 
{

    align-items: center;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

@media screen and (max-width: 768px)
{
    .mb-ci-list-container
    {
        align-items: start;
    }
}

/* IDs (#) */