/* CLASSES (.) */

.mb-body
{
    max-width: 100vw;
}

.mb-body-section-even
{
    background-color: white;
    height: 50vh;
    width: 100vw;
}

.mb-body-section-odd
{
    background-color: rgb(64, 73, 123);
    height: 50vh;
    width: 100vw;
}

.mb-navbar
{
    background-color: rgb(29, 33, 57);

    height: 75px;
    width: 100vw;
}

.mb-navbar-button
{
    background-color: rgb(158, 187, 226);
    border-color: black;
    border-width: 0px;
    
}

.mb-navbar-button:hover
{
    background-color: rgb(175, 133, 181);
    border-color: black;
    border-width: 0px;
    
}

/* IDs (#) */