/* CLASSES (.) */

.mb-navbar
{
    background-color: rgb(79, 92, 159);

    height: 75px;
    width: 100vw;
}

.mb-navbar-button
{
    background-color: rgb(147, 178, 219);
    border-color: black;
    border-width: 0px;
    
}

.mb-navbar-button:hover
{
    background-color: rgb(85, 40, 130);
    border-color: black;
    border-width: 0px;
    
}

/* IDs (#) */